.navbar-default {
    background-color: #00796b;
    border-color: #00796b;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FF8B5B;
    background-color: #46A795;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #F98B69;
}
/*body {*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*color: #333;*/
    /*background-color: #9E7373;*/
/*}*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #BF3793;
    background-color: #fff;
}